<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Search</a></li>
  <li role="presentation"><a href="/pages/Messaging">Messaging</a></li>
  <li role="presentation"><a href="/pages/Favorites">Favorites</a></li>
</ul>