<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Search</a></li>
  <li role="presentation"><a href="/pages/Messaging">Messaging</a></li>
  <li role="presentation"><a href="/pages/Favorites">Favorites</a></li>
  <% if userlogin_signed_in? %>
  	<li><%= link_to "Edit Profile", edit_userlogin_registration_path %></li>
  	<li><%= link_to "Sign out", destroy_userlogin_session_path %></li>
  <% else %>
  	<li><%= link_to "Sign up", new_userlogin_registration_path %></li>
  	<li><%= link_to "Sign in", new_userlogin_session_path %></li>
  <% end %>
</ul>